*{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    background-color: antiquewhite !important;
}
h3{
    color: blueviolet;
}
h1{
    color:#b92b37;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b37;
    color: white;
}
.upvote{
    background-color: aqua;
    color: black;
}
/* descendant selector */
p a{
    color:rgb(0, 0, 0) ;
    background-color: violet;
   }
   nav ul li a{
    color: blueviolet;
   }
   .post a {
    color:purple;
    
   }
   /* Adjacent sibling combinator */
   p+h3{
    text-decoration: underline;
   }

   .upvote+button{
    background-color: lightblue;
    color: black;
    
   }
   div > input{
    background-color: darksalmon;
    color: black;
   }
   /* Attribut Selector */
   input[type="text"]{
    color: red;
   }
   input[type="password"]{
    color: green;
   }
   input[type]{
    background-color: ghostwhite;
   }

   /* Practice question */
   #myid p{
    color: aqua;
   }
   /* OR */
   div[id="myid"] p{
    color: blue;
   }
   /* Pseudo class */
   /* Hover  */
   button:hover{
    background-color: black;
    color: white;
   }
   h3:hover{
    text-decoration: none;
   }
/* Active  */
button:active{
    background-color: aqua;
    color: black;
}
p:active{
font-weight: bold;
color: green;
}
/* :checked  */
input[type="radio"]:checked + label {
color: red;
font-weight: bold;
}
/* nth-of-type  */

div:nth-of-type(2n){
    background-color: antiquewhite;
}
/* Pseudo elements  */
/* :: first latter */
h1::first-letter{
    color: black;
}

/* first line */

p::first-line{
    color: brown;
}

/* selection  */
p::selection{
    background-color:  rgb(199, 199, 14);
}

/* Cascading property */
h3{
    background-color: yellow;
}
h3{
    background-color: red;
}
