h1{
    text-align: center;
    text-decoration:wavy red underline;
    letter-spacing: 10px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-family: Baskerville;
    
}
h3{
    text-align: start;
    text-decoration:pink  double   line-through;
}
p{
    text-align:justify ;
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
    
}
h2{
    font-weight: 800;
    text-decoration:  double blue overline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    
}
a{
    text-decoration:none ;
}