.box{
    height: 100px;
    width: 300px;
    background-color: palevioletred;
    /* animation-name: widthAnimate;
    animation-duration: 3s;
    animation-timing-function:ease-in ;
    animation-delay: 0;
    animation-iteration-count:3;
    animation-direction:normal; */

    /* animation: widthAnimate 3s ease-in 0s infinite  normal; */
    animation: colorAnimate 4s ease-in 0s 2 normal;
}
@keyframes colorAnimate {
    0%{
        background-color: greenyellow;
    }
    50%{
        background-color: rebeccapurple;
    }
    80%{
        background-color: red;
    }
    100% {
        background-color: aquamarine;
    }
}

@keyframes widthAnimate {
    from{
      width:20px;  
      background-color: greenyellow;
    }
    to{
        width: 400px;
        background-color: rebeccapurple;
        border-radius:15px ;
    }
    
}
@keyframes fontAnimation {
    from{
      font-size: 20px;  
    }
    to{
        font-size: 40px;
    }
    
}
/* @keyframes colorAnimate {
    from{
        background-color: greenyellow;
    }
    to{
        background-color: rebeccapurple;
    }
    
} */