h1 {
  .rye-regular {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
  }

  .libre-baskerville {
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
}
