<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New User</title>
  </head>
  <body>
    <form method="post" action="/user">
      <input placeholder="Id" type="text" name="id" />
      <input placeholder="Username" type="text" name="username" />
      <input placeholder="Email" type="email" name="email" />
      <input placeholder="Password" type="password" name="password" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
