 #container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid skyblue;
    border-radius: 10px;
    justify-content: space-evenly;
   
    align-items: center;
}
.Box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    text-align: center;

} 
#navbar{

height: 50px;
width: 900px;
background-color:pink ;
border: 2px solid lightseagreen;
border-radius: 2px;
display: flex;
justify-content: flex-start;
align-content: center;
}
.option{
    height: 80px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    justify-content: center;
    border-radius: 10px;
    line-height: 50px;
} 