/* section{
  margin-top:100px ;
} */
/* div{
  height: 400px; 
  width: 400px;
  background-color:#7aa874;
  margin: 10px auto;
  background-size: auto;
  color: aliceblue;
 
} */

/* div:nth-of-type(2n){
  background-color: #f7db6a;
}
div:nth-of-type(3n){
  background-color: #ebb02d;
} */

/* transform */
/* #one{
  transform:rotate(45deg);
}
#two{
  transform: scale(0.5);
}
#three{
  transform: translateX(100px);
}
#four{
  transform: skew(30deg);
}
#five{
  transform: skew(rotate 30deg) translateX(150px);
} */


.card{
  width:  200px;
  height: 200px;
  border: 2px solid black;
  display: inline-block; 
  margin: 10px;
  border-radius: 5px;
  box-shadow:0px 4px 8px black ;
  transition: 1s;
}
.desc{
padding: 0 2px 0 2px;
}
img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card:hover{
  box-shadow:0px 4px 19px goldenrod ;
}
