
/* div{
   
    
    height: 100px;
    width: 200px;
    background-color: yellowgreen;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}
     */
     /* h1{
        border: 2px solid black;
        width: 50%;
       
     } 
     #outer {
       height: 400px; 
       width: 400px;
      border: 2px solid black;
      background-color: antiquewhite;
      font-size: 10px;
     }
     #inner {
        height: 100px; 
        width: 100px;
        background-color: cornflowerblue;
        margin-left: 10%;
        font-size: 2em;
        padding: 1em;
      } */
      

      /* button{
        font-size: 50px;
        border-radius:15px ;
        border: 5px solid black;
        padding-left: 1em;
        padding-right: 1em;
      } */

      section{
        font-size: 15px;
      }
      div{
        font-size: 0.5rem;
      }