div {
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width:5px ;
    border-style: solid;
    border-color: aqua;
    

 */
 border: 5px solid aqua;
 /* border-left-color: blue;
 border-left-style: dashed; */
 /* border-top: 5px dashed blue; */
 border-radius: 10px;
 padding-top: 10px;
 
 margin: 10px 20px 30px 40px;

}

h1{ 
    /* border-width: 2px;
    border-style: dashed;
    border-color: black; */
    border: 2px dashed black;
}
button{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    background-color:orange;
}